
p{
    font-size: 2rem;
    font-weight: bold;
    padding-left: 2rem;
    overflow: hidden;
    white-space: wrap;
    
}


@media (max-width: 900px){


    .textcontainer{

        margin-bottom: -14rem;
        margin-top: 1rem;
    }

}


@media (max-width: 700px){

    .textcontainer{

        margin-bottom: -15rem;
        margin-top: 0rem;
    }


}


@media (max-width: 550px){

.textcontainer{
    margin-bottom: -7rem;
    margin-top: -4rem;
}

}