nav{
    position: absolute;
    top: 0;
    right: 0;
    width: 99%;
    height: 3rem;
    background-color: #000;
    
    z-index: unset;
}
.wrap{
    position: relative;
    float: right;
    z-index:1000;
}

.threelines{
    position: relative;
    margin-top: 1rem;
    margin-right: 0.5rem;
    z-index: 1;
}

 .line{
 
     height: 5px;
     width: 35px;
     margin: 5px;
     text-align: center;
     border-radius: 5px;
     background-color:#fff;
     transition: transform ease-in 1000ms,
                 opacity ease-in 300ms,
                 margin-top ease-in 700ms;
     z-index: 9999;
 }
 

#mediumtop{
    display: none;
}

#smalltop{
    display: none;
}


@media (max-width: 900px){

    #mediumtop{
        display: initial;
    }

    .threelines{
         
        top: 1.5%;

     }
}


@media (max-width: 550px){

    #mediumtop{
        display: none;
    }

    #smalltop{
        display: initial;
    }

    .threelines{

        top: 2%;

     }


}