
 #mediumbottom{
    display: none;
}

#smallbottom{
    display: none;
}




@media (max-width: 900px){

    #mediumbottom{
        display: initial;
    }


}



@media (max-width: 700px){

    #mediumbottom{
        display: none;
    }

    #smallbottom{
        display: initial;
    }

}