
 #mediumbottom{
    display: none;
}

#smallbottom{
    display: none;
}

/*---Buttons---*/

button:focus{
    outline: none;
    
}

button{

  transition: transform ease-in 100ms;  
}

button:active{
    transform: scale(0.9);
}


.insparaion, .order{
    

    background-color: #ffffff;
    border: #fff 2px solid;
    border-radius: 30px;
    width: 10rem;

    font-size: 1.5rem;
    padding: 0.25rem;
    font-family: Helvetica;
    font-weight: bold;

    box-shadow: 10px 10px 10px -10px rgba(0,0,0,.5);

}

.btn{
    margin-top: -5.5rem;
    padding: 1rem;
    
    
    background-color: #0099FF;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

}

/*
.btn{
    position: absolute;
    bottom: 3%;
    left: 3%;
    display: flex;
    flex-direction: row;
}


.insparaion{
    
    position: absolute;
    top:70%;
    left:30%;
}
*/

.order, .insparaion{
 
    margin: 0.5rem;
    padding: auto;
    z-index: 1;
}





@media (max-width: 900px){

    #mediumbottom{
        display: initial;        
    }

    .insparaion{
        top:80%;      
    }
    
    .order{
        top: 90%;
    }


}



@media (max-width: 700px){


    .bottomcontainer{
        display: flex;
        flex-direction: column;
    }


/*
    #mediumbottom{
        display: none;
    }

    #smallbottom{
        display: initial;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        
    }

    .insparaion{
        top:75%;      
    }
    
    .order{
        top: 85%;
    }
*/
}