
 #mediumbottom{
    display: none;
}

#smallbottom{
    display: none;
}

/*---Buttons---*/

button:focus{
    outline: none;
    
}

button{

  transition: transform ease-in 100ms;  
}

button:active{
    transform: scale(0.9);
}


.insparaion, .order{
    

    background-color: #ffffff;
    border: #fff 2px solid;
    border-radius: 30px;
    width: 10rem;

    font-size: 1.5rem;
    padding: 0.25rem;
    font-family: Helvetica;
    font-weight: bold;

    box-shadow: 10px 10px 10px -10px rgba(0,0,0,.5);

}

/*
.btn{
    margin-top: -5.0rem;
    padding: 1rem;
    
    
    background-color: #0099FF;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    min-height: 10vh;

}


.order, .insparaion{
 
    margin: 0.5rem;
    margin-top: -2rem;
    padding: auto;
    z-index: 1;
}

.insparaion{

    margin-top: -3rem;
}

.order{
    margin-top: -6rem;
}

*/

.blue{
    background-color: #0099FF;
    width: 100%;
    height: 5rem;
    
}





@media (max-width: 900px){

    #smallbottom{
        display: initial;        
    }

}



@media (max-width: 700px){


    .order, .insparaion{
 
        margin: 0.5rem;
        padding: auto;
        z-index: 1;
    }
    
    .btn{
        margin-top: -5.0rem;
        padding: 1rem;
        
        
        background-color: #0099FF;
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        min-height: 10vh;

    }

    #smallbottom{
        display: none;        
    }
    
    #mediumbottom{
        display: initial;        
    }


    .bottomcontainer{
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .insparaion{

        margin-top: -20rem;
    }

}

    @media (max-width: 600px){

        
        .insparaion{

            margin-top: -9rem;
        }

    }


    
